
@{
    ViewData["Title"] = "Instruçoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Nesta view foi escrita as regras para os respetivos modos de jogo-->
    <div style="color:#000000">
        <p style="text-align:center; font-size:100px">Instruções</p>
        <h3 style="text-align:center">Regras do Jogo:</h3>
        <p style="text-align:center; text-align:justify">
            Este é um jogo super divertido onde tu e os teus amigos poderão jogar uns contra os outros e ver quem consegue chegar primeiro à casa numero 40. Dependendo do modo de jogo poderás ter mais ou menos facilidade em conseguir esse objetivo, mas se há coisa que não vai faltar é muita diversão por isso diverte-te!! E que a força esteja contigo!!
        </p>
        <br />
        <h3 style="text-align:center">Modo Tradicional:</h3>
        <p style="text-align:center; text-align:justify">
            Neste modo de jogo feito para jogares com mais um ou três amigos tens de tentar chegar à última casa primeiro para ganhares o jogo!! Para isso apenas tens de lançar o dado e andar para a frente o número de casas igual ao das pintas do dado. Este modo de jogo tem também um conjunto de casas especias(as casas com estrelas)
            onde tu podes ter sorte e anvançares mais para a frente ou então teres azar e teres de andar para trás, essas casa especiais estão espalhadas pelo tabuleiro e quando
            o teu peão calhar numa dessas casas vai aparecer uma mensagem a dizer se vais poder a avançar, se vais ter de andar para trás se ficas sem jogar ou até se podes jogar outra vez.
            Assim que acabares de jogar é a vez do teu amigo! O primeiro a chegar à casa 40 ganha o jogo!!
        </p>
        <br />
        <h3 style="text-align:center">Modo Desafio:</h3>
        <p style="text-align:center; text-align:justify">
            Ui... Gostas de desafios e queres jogar num nível mais complicado?? Então este é o modo certo para ti, aqui vais poder testar os teus conhecimentos sobre os temas do jogo(Alimentação, Saúde, Poupança, Consumo e Ambiente). O modo de jogar é muito semenhante ao Modo Tradicional, mas neste se chegares à casa 40 apenas ganhas o jogo se responderes corretamente à pergunta que te for
            colocada, caso contrário terás de recuar 10 casas e ires parar à casa 30.
        </p>
        <br />
        <h3 style="text-align:center">Modo Batalha:</h3>
        <p style="text-align:center; text-align:justify">
            Para jogares no modo de batalha usas as mesmas regras que o Modo Tradicional mas começas com 9 “poderes especiais” onde podes escolher 3 tipos de poderes:
            <ol style="list-style-position:inside">
                <li>Aspirador a Jato: faz o teu amigo recuar 6 casas;</li>
                <li>Escudo Atómico: ficas imune(protegido) a todas as casas especiais;</li>
                <li>Armadilha Magnética: atrai o teu amigo mais avançado para a casa 22.</li>
            </ol>
            Estes “poderes especiais” que também se chamam power-ups, só podem ser usados no início do turno, antes de lançares o dado. Terás um conjunto de botões em frente a cada um dos
            Power Ups a fim de poderes escolher qual queres ativar. Mas atenção escolhe cuidadosamente qual o power ups mais adequado a cada jogada, pois no caso do Escudo Magnético, por exemplo,
            a imunidade tanto é concedida para casas menos simpáticas, e que te fazem recuar ou perder a vês, como para casas boas que te fazem avançar. Tem também atenção que os teus Power Ups são limitados!!
        </p>
        <br />
        <h3 style="text-align:center">Agora vamos explicar-te como funcionam os power-ups, ou seja, os teus “poderes especiais”:</h3>
        <br />
        <p style="text-align:center; text-align:justify">
            <b>Aspirador a jato:</b> Este poder especial faz com que o teu amigo que estiver mais longe no tabuleiro recue 6 casas. Se por acaso ele for transportado para uma casa especial ela não vai causar nada ao teu amigo. Quem usar este poder especial já não pode usar o dado, terminando a sua vez. Sendo que a casa mais baixa que se pode ocupar é a casa número 1.
            <br />
            <br />
            <b>Escudo Atómico:</b> Este poder especial faz com que quem o use fique protegido de todas as casas especiais, sejam elas casas boas ou más. O efeito é imediato e quem usar este poder especial pode lançar o dado novamente.
            <br />
            <br />
            <b>Armadilha Magnética:</b> Este poder especial faz com que o teu amigo que esteja mais avançado no tabuleiro seja atraído para a casa 22, o efeito deste power up é aplicado imediatamente, contudo a casa especial onde o jogador atraído vai parar não têm qualquer efeito nele. Quem decidir utilizar este power up fica sem jogar nessa jogada.
            <br />
            Quem usar este poder especial, pode atirar o dado mais uma vez.
        </p>
    </div>

